<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Define the log file pattern -->
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Define appenders for different log levels -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE_PREFIX}.error.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE_PREFIX}.info.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Specify loggers -->
    <logger name="org.springframework.web" level="INFO" additivity="false">
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>
