<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-dCdyrHW8K6MiIhiFJO625rfiz405plaIrLOf1GJliRc=';">-->
    <title>Home</title>
    <link href='https://fonts.googleapis.com/css?family=Sarabun' rel='stylesheet'>
    <link th:rel="stylesheet" th:href="@{/css/font.css}">
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>-->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <link rel="stylesheet" href="./index.css">-->
    <script th:src="@{/js/render_star.js}"></script>
    <!-- Your custom CSS -->
</head>
<body style="background:#E2D0D5;">
<div th:insert="~{fragments/header :: header}"></div>

<main class="container mt-5 py-4">
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <th:block th:each="book : ${books}">
            <div class="col">
                <a th:href="@{/book/{id}(id=${book.id})}" class="text-decoration-none">
                    <div class="p-4 bg-light rounded d-inline-flex text-black" style="height: 90%; align-items: center;">
                        <div style="max-width: 25%;">
                            <img th:src="@{'/book/display?id=' + ${book.id}}" alt="Book Image" class="img-fluid rounded">
                        </div>
                        <div class="ms-4">
                            <p class="card-title mt-2"><h3 th:text="${book.titleTh}"></h3></p>
                            <p class="card-title mt-3"><h4 th:text="${book.titleEn}"></h4></p>
                            <p class="card-title mt-3">Author: <span th:text="${book.author}"></span></p>
<!--                            <p class="card-title mt-3">Average Rating: <span th:text="${averageRatings[book.id]}"></span></p>-->
                            <p class="card-title mt-3"><span id="rating-[[${book.id}]]" class="star-rating" th:text="${averageRatings[book.id]}">
                            </span></p>
                        </div>
                    </div>
                </a>
            </div>
        </th:block>
    </div>
    <div class="fixed-bottom mx-5 mb-5">
        <a th:href="@{/book/add}" class="text-decoration-none d-flex justify-content-end" alt="Add button" sec:authorize="hasRole('ROLE_ADMIN')">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
            </svg>
        </a>
    </div>
</main>

<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
