<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./index.css">
    <!-- Your custom CSS -->
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<main class="container py-4 mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <th:block th:each="book : ${books}">
            <div class="col">
                <a th:href="@{/book/{id}(id=${book.id})}" class="text-decoration-none">
                    <div class="p-4 bg-light rounded d-inline-flex text-black" style="height: 90%; align-items: center;">
                        <div style="max-width: 25%;">
                            <img th:src="@{'/book/display?id=' + ${book.id}}" alt="Book Image" class="img-fluid rounded">
                        </div>
                        <div class="ms-4">
                            <p class="card-title mt-2"><span th:text="${book.titleTh}"></span></p>
                            <p class="card-title mt-3"><span th:text="${book.titleEn}"></span></p>
                            <p class="card-title mt-3">Author: <span th:text="${book.author}"></span></p>
                            <p class="card-title mt-3">Average Rating: <span th:text="${averageRatings[book.id]}"></span></p>
                        </div>
                    </div>
                </a>
            </div>
        </th:block>
    </div>
    <div class="fixed-bottom mx-5 mb-5">
        <a th:href="@{/book/add}" class="text-decoration-none d-flex justify-content-end" alt="Add button">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
              </svg>
        </a>
        
    </div>
</main>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
