<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Restaurant</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>


<div class="container w-50 p-3">
    <h1 class="display-5">Book Detail</h1>

    <div class="mb-3">
        <label for="Image">Image</label>
        <img id="Image" th:src="@{${'/book/display?id=' + book.id}}" alt="">
        </div>

    <div class="mb-3">
        <p id="titleTh" th:value="${book.titleTh}"></p>
        <p id="titleEn" th:value="${book.titleEn}"></p>
        <p id="avgUsrRating" th:value="${userAverageRating[book.id]}"></p>
        <label for="author">Author:</label>
        <p id="author" th:value="${book.author}"></p>
        <label for="publisher">Publisher:</label>
        <p id="publisher" th:value="${book.publisher}"></p>
        <label for="isbn">ISBN:</label>
        <p id="isbn" th:value="${book.isbn}"></p>
        <label for="adminRating">Proud Rating</label>
        <p id="adminRating" th:value="${adminAverageRating[book.id]}"></p>
    </div>
    <div class="mb-3">
    </div>

    <div style="text-align: center">
        <a class="btn btn-primary"
           th:href="@{/rating/show/{id}(id=${book.id})}">Review</a>
    </div>
</div>

</body>
</html>