<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>


<div class="container w-50 p-3">
    <h1 class="display-6">Books</h1>


    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr style="text-align: center; vertical-align: top" class="table-primary">
            <th>image</th>
            <th>titleTh</th>
            <th>titleEn</th>
            <th>author</th>
            <th>avgRating</th>
            <th>Review</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}" style="vertical-align: middle">
            <td><img height="250px"  th:src="@{${'/book/display?id=' + book.id}}" alt=""></td>
            <td th:text="${book.titleTh}"></td>
            <td th:text="${book.titleEn}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${averageRatings[book.id]}"></td>
            <td style="text-align: center">
                <a class="btn btn-primary"
                   th:href="@{/rating/show/{id}(id=${book.id})}">Review</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>