<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>


<div th:insert="~{fragments/header :: header}"></div>


<div class="container w-50 p-3">
    <h1 class="display-5">Add a Rating</h1>


    <form th:action="@{/rating/add}" method="POST"
          th:object="${ratingRequest}">

        <input type="hidden" name="bookId" th:value="${bookId}"
               id="bookId">

        <div class="mb-3">
            <label for="ratingInput">Rating (1 - 5)</label>
            <input id="ratingInput" type="number" step="0.5" th:field="*{score}"
                   class="form-control">
            <div class="alert alert-warning"
                 th:if="${#fields.hasErrors('score')}"
                 th:errors="*{score}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Add Rating</button>
    </form>
</div>
</body>
</html>