<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link href='https://fonts.googleapis.com/css?family=Sarabun' rel='stylesheet'>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/font.css}">
    <script th:src="@{/js/validate_password.js}"></script>
</head>
<body style="background:#E2D0D5; margin-top: 50px;">
    <div style="text-align:center;">
        <h3>Forgot password?, let's change it.</h3>
    </div>

    <form th:action="@{/reset_password}" th:object="${resetPasswordRequest}" method="post" class="shadow-sm bg-body rounded p-3" style="max-width: 350px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}" />
        <div>
            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input id="inputPassword" type="password" th:field="*{password}" placeholder="Type your password" class="form-control">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>

            <div class="mb-3">
                <label for="inputPasswordConfirm">Confirm Password</label>
                <input id="inputPasswordConfirm" type="password" th:field="*{confirmPassword}" placeholder="Type your password" class="form-control">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>

             </div>
            <button id="submit-button" type="submit" class="btn form-control" style="background-color:#5D3E66; color:white;">Change Password</button>
        </div>
    </form>
</body>
</html>
