<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div>
    <h2>Reset Your Password</h2>
</div>

<form th:action="@{/reset_password}" th:object="${resetPasswordRequest}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div class="mb-3">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" th:field="*{password}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <div class="mb-3">
            <label for="inputPasswordConfirm">Confirm Password</label>
            <input id="inputPasswordConfirm" type="password" th:field="*{confirmPassword}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>

        </div>
        <button id="submit-button" type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>

<script th:src="@{/js/validate_password.js}">
</script>

</html>
