<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Sign Up</title>
</head>
<body>
<div class="container w-50 p-3">
    <h1 class="display-5">Sign Up</h1>

    <form action="#" th:action="@{/signup}" th:object="${signupRequest}" method="POST">
        <div id="success-msg" th:if="${signupSuccess}" class="alert alert-success">
            Successfully signed up! Please <a th:href="@{/login}">login</a>.
            Please check your email to verify your account.
        </div>
        <div id="error-msg" th:if="${signupError}" class="alert alert-danger">
            <span th:text="${signupError}"></span>
        </div>

        <div class="mb-3">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" type="text" th:field="*{username}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <div class="mb-3">
            <label for="inputEmail">Email</label>
            <input id="inputEmail" type="text" th:field="*{email}"
                   class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"></div>
        </div>

        <div class="mb-3">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" th:field="*{password}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <div class="mb-3">
            <label for="inputPasswordConfirm">Confirm Password</label>
            <input id="inputPasswordConfirm" type="password" th:field="*{confirmPassword}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>

        </div>

        <div class="mb-3">
            <div class="col-2">CAPTCHA</div>
            <div class="col-4">
                <img th:src="*{'data:image/png;base64,'+ image}" />
            </div>
            <div class="col-4">
                <input type="text" th:field="*{captcha}" class="form-control" />
                <input type="hidden" th:field="*{hidden}" />
            </div>
        </div>

        <div class="mb-3 form-check">
        <input id="acceptConsentCheckbox" type="checkbox" th:field="*{acceptConsent}" class="form-check-input">
        <label for="acceptConsentCheckbox" class="form-check-label">I accept the terms and conditions</label>
    </div>

        <button id="submit-button" type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <div sec:authorize="isAnonymous()">
        <ul class="navbar-nav me-auto mt-3 mb-2 mb-lg-0">
            <li class="nav-item">
                Already be a Reader? <a th:href="@{/login}">Sign In</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>