<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Sarabun' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/terms-conditions-modal.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:rel="stylesheet" th:href="@{/css/font.css}">
    <script th:src="@{/js/terms_and_conditions_modal.js}"></script>
    <script th:src="@{/js/show_password.js}"></script>
    <title>Sign Up</title>
</head>
<body style="background:#E2D0D5;">
<div class="container w-50 p-3">
    <h1 class="display-5">Sign Up</h1>

    <form action="#" th:action="@{/signup}" th:object="${signupRequest}" method="POST">
        <div id="success-msg" th:if="${signupSuccess}" class="alert alert-success">
            Successfully signed up! Please <a th:href="@{/login}">login</a>.
            Please check your email to verify your account.
        </div>
        <div id="error-msg" th:if="${signupError}" class="alert alert-danger">
            <span th:text="${signupError}"></span>
        </div>

        <div class="mb-3">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" type="text" th:field="*{username}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <div class="mb-3">
            <label for="inputEmail">Email</label>
            <input id="inputEmail" type="text" th:field="*{email}"
                   class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"></div>
        </div>

        <div class="mb-3">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" th:field="*{password}" class="form-control">
            <span toggle="#inputPassword" class="fa fa-fw fa-eye toggle-password"
                  style="float: right; margin-left: -25px; margin-right: 10px; margin-top: -25px; position: relative; z-index: 1; cursor: pointer;"></span>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <div class="mb-3">
            <label for="inputPasswordConfirm">Confirm Password</label>
            <input id="inputPasswordConfirm" type="password" th:field="*{confirmPassword}" class="form-control">
            <span toggle="#inputPasswordConfirm" class="fa fa-fw fa-eye toggle-password"
                  style="float: right; margin-left: -25px; margin-right: 10px; margin-top: -25px; position: relative; z-index: 1; cursor: pointer;"></span>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>

        </div>

        <div class="mb-3">
            <div class="col-2">CAPTCHA</div>
            <div class="col-4">
                <img th:src="*{'data:image/png;base64,'+ image}" />
            </div>
            <div class="col-4">
                <input type="text" th:field="*{captcha}" class="form-control" />
                <input type="hidden" th:field="*{hidden}" />
            </div>
        </div>

        <div class="d-flex me-auto">
            <input type="checkbox" class="margin-bottom:5px;" th:field="*{acceptConsent}" required>&emsp;I accept the&emsp;<a id="myBtn" style="text-decoration-line: underline; color:blue; cursor: pointer;">Terms and Conditions</a>
        </div>

        <button id="submit-button" type="submit" class="btn mt-3" style="background-color:#5D3E66; color:white;">Sign Up</button>
    </form>
    <div>
        <ul class="navbar-nav me-auto mt-3 mb-2 mb-lg-0">
            <li class="nav-item">
                Already be a Reader? <a th:href="@{/login}">Sign In</a>
            </li>
        </ul>
    </div>
</div>

<div id="myModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="terms-conditions-header">
            <h2>Terms and Conditions</h2>
            <h5>Welcome to Proud's Collection!</h5>
        </div>
        <div class="terms-conditions-content mt-1 p-4">
            <p>
                We are committed to protecting your privacy and ensuring you understand your rights and how your information is used.
                This document outlines our practices regarding the collection, use, and sharing of your personal data in compliance with
                applicable privacy laws. By accessing our application, you agree to be bound by these Terms and Conditions.
            </p>


            <h4>Data Collection</h4>
            <ul>
                <li>Personal Information: We collect your email addresses and username when you register.</li>
                <li>Ratings: We record your ratings of books to calculate the average rating displayed to all users.</li>
            </ul>

            <h4>Use of Personal Data</h4>
            We use your personal data to:
            <ul>
                <li>Manage your account and provide necessary support.</li>
                <li>Display book ratings and manage your rating submissions.</li>
            </ul>

            <h4>Disclosure of Personal Data</h4>
            We may share your data with:
            <ul>
                <li>Service providers for technical support of our app.</li>
                <li>Legal authorities if required by law.</li>
            </ul>

            <h4>Data Security</h4>
            <p>Your data is protected with encryption and access controls to prevent unauthorized access and ensure data safety.</p>

            <h4>User Rights</h4>
            <ul>
                <li>Edit Ratings: You can change your ratings at any time.</li>
                <li>Account Termination: You can request to terminate your account and withdraw consent by contacting us at prouds.collection@gmail.com.</li>
            </ul>

            <h4>Changes to Privacy Terms</h4>
            <p>We reserve the right to modify these terms. We will notify you of any significant changes.</p>

            <h4>Contact Us</h4>
            <p>For questions about these privacy terms or anything in website, contact us at prouds.collection@gmail.com.</p>

            <h5>By creating an account, you acknowledge that you have read, understood, and agree to the above terms.</h5>
        </div>
    </div>

</div>

</body>
</html>